<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>

</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit=" return Client.handleSubmit(event)">
                <input id="inputText" type="text" name="input" value="www.udacity.com"
                    placeholder="URL ig: http://www.mywebsite.com">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong class="results">Form Results:</strong>
                    <div class="results" id="polarity"></div>
                    <div class="results" id="subjectivity"></div>
                    <div class="results" id="text"></div>
                    <div class="results" id="polarity_confidence"></div>
                    <div class="results" id="subjectivity_confidence"></div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
</body>


</html>